@model IEnumerable<YetAnotherBlog.Models.PostModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllowResponses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResponseCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimePosted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edited)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastEdited)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowResponses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdited)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
