@model YetAnotherBlog.Models.ViewPostViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Post.Title);
}

<h2>@Html.DisplayFor(model => model.Post.Title)</h2>

<div class="row">
    <hr />
    <div class="col-md-12">
        <div>
            @Html.DisplayFor(model => model.Post.Post)
            <hr />

            @if (Model.Post.Tags != null)
            {
                @Html.DisplayNameFor(model => model.Post.Tags) <text>:</text>
                @Html.DisplayFor(model => model.Post.Tags) <br />
            }

            <p class="post-time">Posted at: @Html.DisplayFor(model => model.Post.TimePosted)</p>

            @if (Model.Post.Edited == true)
            {
                <p class="post-time"><text>Last Edited:</text> @Html.DisplayFor(model => model.Post.LastEdited)</p>
            }

        </div>

        <div>
            <h3>Post Response</h3>

            @if (User.IsInRole("Admin") || User.IsInRole("Poster") || User.IsInRole("Member"))
            {
                <form asp-action="Reply">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="control-label">Resonse</label>
                    
                    <div class="form-group">
                        <textarea asp-for="Responses.Contents" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="Responses.Contents" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Post" class="btn btn-default" />
                    </div>
                </form>

            }
        </div>

        <div>
            <h3>Responses (@Html.DisplayFor(model => model.Post.ResponseCount)) </h3>
            
        </div>
    </div>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Poster")) {
        <a asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a> <text>|</text>
     }
    <a asp-action="Index">Back to List</a>
</div>
