@model YetAnotherBlog.Models.PostModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="row">
    <hr />
    <div class="col-md-12">
        <div>
            @Html.DisplayFor(model => model.Post)
            <hr />

            @if (Model.Tags != null)
            {
                @Html.DisplayNameFor(model => model.Tags) <text>:</text>
                @Html.DisplayFor(model => model.Tags) <br />
            }

            <p class="post-time">Posted at: @Html.DisplayFor(model => model.TimePosted)</p>

            @if (Model.Edited == true)
            {
                <p class="post-time"><text>Last Edited:</text> @Html.DisplayFor(model => model.LastEdited)</p>
            }

        </div>

        <div>
            <h3>Post Response</h3>
        </div>

        <div>
            <h3>Responses (@Html.DisplayFor(model => model.ResponseCount)) </h3>
        </div>
    </div>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Poster")) {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <text>|</text>
     }
    <a asp-action="Index">Back to List</a>
</div>
