@model YetAnotherBlog.Models.PostModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="row">
    <hr />
    <div class="col-md-12">
        <div>
            @Html.DisplayFor(model => model.Post)
            <hr />
            @Html.DisplayNameFor(model => model.Tags):  @Html.DisplayFor(model => model.Tags) <br />
            Posted at: @Html.DisplayFor(model => model.TimePosted) <br />
            @Html.DisplayNameFor(model => model.Edited): @Html.DisplayFor(model => model.Edited) <br />
            @Html.DisplayNameFor(model => model.LastEdited):  @Html.DisplayFor(model => model.LastEdited) <br />
        </div>
    </div>
    <div class="row">

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
